In [6]:
import pandas as pd

In [7]:
dt = pd.read_csv("../data/raw/spi_matches.csv")

In [8]:
dt.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
dt = (
    dt
    .drop(columns = ["importance1", "importance2", "xg1", 'xg2', 'nsxg1','nsxg2','adj_score1','adj_score2'])
    .dropna(subset = ['score1','score2'] )  
    .rename(columns = {'score1':'score_homeTeam', 'score2': 'score_awayTeam', 'spi1': 'spi_homeTeam', 'spi2': 'spi_awayTeam'})
    .loc[dt['season']<= 2018]
    .sort_values('date', ascending = True)
)

KeyError: "['importance1' 'importance2' 'xg1' 'xg2' 'nsxg1' 'nsxg2' 'adj_score1'\n 'adj_score2'] not found in axis"

In [13]:
dt.head()

,season,date,league_id,league,team1,team2,spi_homeTeam,spi_awayTeam,prob1,prob2,probtie,proj_score1,proj_score2,score_homeTeam,score_awayTeam
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,0.2844,1.39,1.05,2.0,0.0
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,0.2819,1.27,1.28,2.0,0.0
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,0.2714,1.53,1.03,1.0,1.0
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,0.3013,1.27,0.94,0.0,0.0
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,0.2719,1.45,1.24,1.0,2.0

In [17]:
dt = (dt
      .drop(columns = ['proj_score1', 'proj_score2']
      .reset_index(drop = True))
     )

AttributeError: 'list' object has no attribute 'reset_index'

In [18]:
dt.head()

,season,date,league_id,league,team1,team2,spi_homeTeam,spi_awayTeam,prob1,prob2,probtie,proj_score1,proj_score2,score_homeTeam,score_awayTeam
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,0.2844,1.39,1.05,2.0,0.0
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,0.2819,1.27,1.28,2.0,0.0
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,0.2714,1.53,1.03,1.0,1.0
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,0.3013,1.27,0.94,0.0,0.0
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,0.2719,1.45,1.24,1.0,2.0

In [48]:
def load_and_process(url_or_path_to_csv_file):

    df1 = (
          pd.read_csv(url_or_path_to_csv_file)
       .drop(columns = ["importance1", "importance2", "xg1", 'xg2', 'nsxg1','nsxg2','adj_score1','adj_score2', 'proj_score1', 'proj_score2'])
       .dropna(subset = ['score1','score2'] ) 
       .rename(columns = {'score1':'score_homeTeam', 'score2': 'score_awayTeam', 'spi1': 'spi_homeTeam', 'spi2': 'spi_awayTeam'})
     )
    
    df2 = (
        df1
        .loc[df1['season']<= 2018]
        .reset_index(drop=True)
        .sort_values('date', ascending = True)
    )
       
    return df2

In [49]:
load_and_process("../data/raw/spi_matches.csv")

,season,date,league_id,league,team1,team2,spi_homeTeam,spi_awayTeam,prob1,prob2,probtie,score_homeTeam,score_awayTeam
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,0.2844,2.0,0.0
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,0.2819,2.0,0.0
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,0.2714,1.0,1.0
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,0.3013,0.0,0.0
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,0.2719,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21603,2018,2019-06-13,1871,Spanish Segunda Division,Mallorca,Albacete,37.68,34.35,0.4861,0.2099,0.3040,2.0,0.0
21604,2018,2019-06-15,1871,Spanish Segunda Division,Málaga,Deportivo La Coruña,36.60,39.91,0.4131,0.2548,0.3321,0.0,1.0
21605,2018,2019-06-16,1871,Spanish Segunda Division,Albacete,Mallorca,32.57,39.48,0.3764,0.3034,0.3202,1.0,0.0
21606,2018,2019-06-20,1871,Spanish Segunda Division,Deportivo La Coruña,Mallorca,41.55,38.31,0.4803,0.1988,0.3210,2.0,0.0
21607,2018,2019-06-23,1871,Spanish Segunda Division,Mallorca,Deportivo La Coruña,36.40,43.52,0.3718,0.2920,0.3362,3.0,0.0